* {
    box-sizing: border-box;
}

body {
    background-color: #E8E7D4;
}

.main {
    max-width: 80%;
    margin: 0 auto;
    height: 97vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider {
    display: flex;
    padding-top: 1%;
    flex-wrap: nowrap;
    gap: 3%;
    transition: 0.8s;
    will-change: transform;
}

.slide {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 90vh;
    min-width: 79vw;
    gap: 3%;

}

.slide p {
    font-size: 1.5rem;
}

.slide img {
    display: block;
    width: 100%;
    height: 80vh;
}

.controls {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    min-width: 25%; 
    gap: 1rem;
    padding: 0;
}

.controls li {
    list-style: none;
    max-width: max-content;
}

.controls a {
    padding: 0.5rem;
    transition: 0.5s;
}

#slide1:target .slide1-link {
    fill: #ADBA9C;
}

#slide2:target .slide2-link {
    fill: #ADBA9C;
}

#slide3:target .slide3-link {
    fill: #ADBA9C;
}

#slide4:target .slide4-link {
    fill: #ADBA9C;
}

#slide5:target .slide5-link {
    fill: #ADBA9C;
}

#slide1:target a.slide1-link:hover,
#slide2:target a.slide2-link:hover,
#slide3:target a.slide3-link:hover,
#slide4:target a.slide4-link:hover,
#slide5:target a.slide5-link:hover,
a.slide1-link:hover,
a.slide2-link:hover,
a.slide3-link:hover,
a.slide4-link:hover,
a.slide5-link:hover {
    fill: azure;
}

@media screen and (max-width: 820px) {
    .slider {
        gap: 5%;
    }
    .slide {
        justify-content: center;
        gap: 1%;
    height: max-content;
    }

    .slide img {
        max-height: 65vh;
        margin-bottom: 0;
    }
    .slide p {
        order: 3;
        min-width: 100%;
        margin-left: 1%;
    }

    .controls {
        margin-bottom: 0;
        order: 2;
    }
}

@media screen and (max-width: 600px) {
.slide {
    gap: 0.2%;
}

.slide img {
   max-height: 40vh;
}
}