* {
    box-sizing: border-box;
}

body {
    background-color: rgba(139, 0, 0, 0.334);
}

.main {
    max-width: 90%;
    margin: 2% auto 20%;
}

.slider {
    min-width: 100%;
    margin-bottom: 3%;
}

.slide {
    display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}



.slide img {
    display: block;
    width: 100%;
}

.controls {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: right;
}

.controls li {
    width: 1rem;
    padding: 1vw;
    list-style: none;
}

.controls a {
    border-radius: 50%;
    width: 1rem;
}