* {
    box-sizing: border-box;
}

body {
    background-color: #E8E7D4;
}

.main {
    max-width: 80%;
    margin: 1% auto;
    height: 97vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    gap: 3%;
    transition: 0.8s;
    padding-left: 5%;
}

.slide {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4%;
    height: 90vh;
    transition: 0.8s;
    min-width: 103%;

}

.slide p {
    font-size: 1.5rem;
}

.slide img {
    display: block;
    width: 100%;
    margin-bottom: 3%;
    height: 80vh;
}

.controls {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 20%;
    gap: 1rem;
    padding: 0;
}

.controls li {
    list-style: none;
    max-width: max-content;
}

.controls a {
    padding: 0.5rem;
    transition: 0.5s;
}

#slide1:target .slide1-link {
    fill: #ADBA9C;
}

#slide2:target .slide2-link {
    fill: #ADBA9C;
}

#slide3:target .slide3-link {
    fill: #ADBA9C;
}

#slide4:target .slide4-link {
    fill: #ADBA9C;
}

.controls a.slide1-link:hover,
.controls a.slide2-link:hover,
.controls a.slide3-link:hover,
.controls a.slide4-link:hover {
    fill: azure;
}

@media screen and (max-width: 820px) {
    .slider {
        gap: 5%;
    }
    .slide {
        justify-content: center;
        gap: 0.5%;
    }

    .slide img {
        max-height: 70vh;
        margin-bottom: 0;
    }
    .slide p {
        order: 3;
        min-width: 100%;
        margin-left: 1%;
    }

    .controls {
        margin-bottom: 0;
        order: 2;
    }
}